main{
	box-sizing: border-box;
	line-height: 0px;
	padding-right: 20px;
	width: 100%;
}

aside{
	float:left;
	box-sizing: border-box;
	line-height: 20px;
	padding: 20px;
	width: 30%;
	background-color:#ccdeeb;
}

body{
	background-color: #522e91;
}

h1{
	color:black;
	font-size: 36px;
	font-weight: bold;
	line-height: unset;
}

.inv{
	height: 8%;
	width: 8%;
	vertical-align: middle;
}

.button{
	background-color: #00a4e4;
	color: white;
	font-size: 36px;
	cursor: pointer;
	text-align: center;
	margin-top: 5px;
	border: none;
	border-radius: 25px;
	box-shadow: 0 9px #522e91;
	padding: 18px 16px;
	height:10%; 
}

.button:hover {
	background-color: #c1d82f
}

.button:active {
  background-color: #c1d82f;
  box-shadow: 0 5px #251540;
  transform: translateY(4px);
}

#background{

	width: 100%;
	height: 100%;
	border: 5px;
	border-style: solid;
	border-color: #c1d82f;
	border-width: 10px;
	border-radius: 20px;
}

#bg{
	width: 100%;
	height: 100%;
}

#background img{
	border-radius: 5px;
}

#findImages img{
	border-radius: 0px;
}
#inventoryImages{
	width:70%;
}
#inventory{
	height: 10%;
	width: 100%;
	border-radius: 20px;
	background-color: #c1d82f;
	margin-top: 5px;
	padding: 7px;
}


#inventory img {
	filter: brightness(0);
	border-radius:20px;
	margin-right: 10px;
}

#buttons{
	height: 20%;
	display: flex;
}

.clickImage{
	position: absolute;
	width:10%;
}

div#checkImageAlert {
	border: 10px solid #522e91;
	border-radius: 20px;
	background-color: #c1d82f;
	width: 35%;
	height: 20%;
	position: absolute;
  	left: 50%;
  	top: 35%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
  	padding: 15px;
  	display: none;
}

.alertButton {
	background-color: #00a4e4;
	color: white;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
	border: none;
	border-radius: 25px;
	box-shadow: 0 9px #522e91;
	padding: 18px 16px;
	position: relative;
	z-index: 100;
}

.alertButton:hover {
	background-color: #c1d82f
}

.alertButton:active {
  background-color: #c1d82f;
  box-shadow: 0 5px #251540;
  transform: translateY(4px);
}

.alertContainer {
	width: 100%;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px){
	.alertContainer h1{
		font-size: 36px;
	}
}

@media screen and (max-width: 800px){
	.alertContainer h1{
		font-size: 24px;
	}
}

@media screen and (max-width: 400px){
	.alertContainer h1{
		font-size: 16px;
	}
}
